.nav ul { list-style: none; }
.nav ul li { float: left; padding: 6px; }
body { margin: 24px; padding-top: 40px; }
.body { clear: both; }

.experiment-form label {
  display: inline-block;
  width: 220px;
  line-height: 1.8;
}
.experiment-form li {
  list-style: none;
}
.experiment-form input[type="radio"] {
  margin-right: 10px;
}

.experiment input {
}
.hidden {
  display: none;
}
.table-btn {
  padding-bottom: 10px;
  padding-top: 1px;
}
.sub_exp {
  background: rgba(0, 0, 64, 0.2);
  margin: 10px;
  padding: 10px;
  width: 480px;
  border-radius: 5px;
}
.warning {
  color: #933;
}