.nav ul { list-style: none; }
.nav ul li { float: left; padding: 6px; }
body { margin: 24px; padding-top: 40px; }
.body { clear: both; margin-left: 230px; padding-left: 20px; width: 710px; border-left: 3px solid #333; }

.experiment-form label {
  display: inline-block;
  width: 220px;
  line-height: 1.8;
}
.experiment-form li {
  list-style: none;
}
.experiment-form input[type="radio"] {
  margin-right: 10px;
}

.experiment input {
}
.hidden {
  display: none;
}
.table-btn {
  padding-bottom: 10px;
  padding-top: 1px;
}
.sub_exp {
  background: rgba(0, 0, 64, 0.2);
  margin: 10px;
  padding: 10px;
  width: 480px;
  border-radius: 5px;
}
.warning {
  color: #933;
}
.experiment-nav {
  position: absolute;
  width: 280px;
  margin-right: 10px;
}
.ABExperiment {
  background: #6C6;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
  display: inline-block;
}
.UCB1Experiment {
  background: #66C;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
  display: inline-block;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
#chart_container {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
#chart {
  float: left;
}
#legend {
  float: left;
  margin-left: 15px;
}
#offset_form {
  float: left;
  margin: 2em 0 0 15px;
  font-size: 13px;
}
#y_axis {
  float: left;
  width: 40px;
}