.nav ul { list-style: none; }
.nav ul li { float: left; padding: 6px; }
body { margin: 24px; }
.body { clear: both; }

.experiment-form label {
  display: inline-block;
  width: 215px;
  line-height: 1.8;
}
.experiment-form li {
  list-style: none;
}
.experiment-form input[type="radio"] {
  margin-right: 10px;
}

.experiment input {
}