<!doctype html>
<head>
</head>
<body>
<form method="post">
  <ul>
  <li>
    <label for"name">Experiment Name:</label>
    <input type="text" name="name" />
  </li>
  <li>
    <label for="type">Experiment Type:</label>
    <input type="text" name="type" />
  </li>
  <button type="submit" value="send">Submit!</button>
</form>
</body>