<!doctype html>
<head>
</head>
<body>
<h1>New Univariate Test</h1>
<form method="post">
  <ul>
  <li>
    <label for="name">Experiment Name:</label>
    <input type="text" id="name" name="name" />
  </li>
  <li>
    <label for="description">Experiment Description:</label>
    <input type="text" id="description" name="description" />
  </li>
  <li>
    Experiment Type:
    <label for="type1">
      <input type="radio" name="type" id="type1" value="ABExperiment" />A/B Test
    </label>
    <label for="type2">
      <input type="radio" name="type" id="type2" value="UCB1Experiment" />UCB Experiment
    </label>
  </li>
  <li>
    <label for="utility_function">Utility Function:</label>
    <input type="text" id="utility_function" name="utility_function" />
  </li>
  <li>
    Experiment Groups/Buckets:
    <table id="groups_table">
      <thead>
	<tr>
	  <th>Group Name</th><th>Group Split %</th><th></th>
	</tr>
      </thead>
      <tbody id="groups_table_tbody">
	<tr class="group" id="group_tr_0">
	  <td>
	    <input type="text" id="group_name_0" name="group_name_0" />
	  </td>
	  <td>
	    <input type="text" id="group_weight_0" name="group_weight_0" />
	  </td>
	  <td>
	    <button type="button" onclick="javascript:delete_group(0)">Delete</button>
	  </td>
	</tr>
      </tbody>
    </table>
    <button type="button" onclick="javascript:add_group();">Add</button>
  </li>
  </ul>
  <button type="submit" value="send">Submit!</button>
</form>

<script>
  function add_group() {
    var n = document.getElementsByClassName('group').length;
    var s = '';
    s += '<tr class="group" id="group_tr_'+n+'">';
    s += '<td>';
    s += '<input type="text" id="group_name_'+n+'" name="group_name_'+n+'" />'
    s += '</td>';
    s += '<td>';
    s += '<input type="text" id="group_weight_'+n+'" name="group_weight_'+n+'" />';
    s += '</td>';
    s += '<td>';
    s += '<button type="button" onclick="javascript:delete_group('+n+')">Delete</button>';
    s += '</td>';
    s += '</tr>';
    var tmp = document.createElement('tbody');
    tmp.innerHTML = s;
    var elements = tmp.childNodes;
    var i;
    for(i = 0; i < elements.length ; i++){
      document.getElementById('groups_table_tbody').appendChild(elements[i]);
    }
  }
  function delete_group(i) {
    n = document.getElementsByClassName('group').length;
    for(; i < n - 1; i++) {
      document.getElementById('group_name_'+i).value = document.getElementById('group_name_'+(i+1)).value;
      document.getElementById('group_weight_'+i).value = document.getElementById('group_weight_'+(i+1)).value;
    }
    /* TODO: should warn if deleting last group? we need to have at least one. */
    x = document.getElementById('group_tr_'+(n-1));
    x.parentNode.removeChild(x);
  }
</script>

</body>
</html>
