<h1>New Multivariate Test</h1>
<p>A multivariate test is one in which multiple variables are changed, as
opposed to just one. </p>


<form method="post" class="experiment-form">
  <%= csrf_tag %>
  <ul>
    <li>
      <label for="experiment_name">Experiment Name:</label>
      <input type="text" id="experiment_name" name="experiment_name" />
    </li>
    <li>
      <label for="description">Experiment Description:</label>
      <input type="text" id="description" name="description" />
    </li>
    <li>
      Experiment Type:<br />
      <label for="type1">
        <input type="radio" name="type" id="typeAB" value="ABExperiment" />A/B Test
      </label>
      <label for="type2">
        <input type="radio" name="type" id="typeUCB1" value="UCB1Experiment" />UCB Experiment
      </label>
    </li>
    <li>
      <label for="utility_function">Utility Function:</label>
      <input type="text" id="utility_function" name="utility_function" />
    </li>
    <li>
      Sub-Experiments
      <ol id="sub_experiment_list">
      </ol>
      <button type="button" class="add-sub-experiment btn">Add Sub-Experiment</button>
    </li>
  </ul>
<button type="submit" value="send" class="btn btn-primary">Submit!</button>
</form>

<script>
function add_sub_experiment() {
  var n = $('.sub_experiment').length;
  var s = '';
  s += '<li id="sub_experiment_'+n+'" class="sub_experiment">';
  s += '<label for="experiment_name_'+n+'">Sub-Experiment Name:</label>';
  s += '<input type="text" id="experiment_name_'+n+'" name="experiment_name_'+n+'">';
  s += '<h3>Sub-Experiment Groups/Buckets:</h3>';
  s += '<table id="groups_table_'+n+'">';
  s += '<thead>';
  s += '<tr>';
  s += '<th>Group Name</th>';
  s += '<th></th>';
  s += '</tr>';
  s += '</thead>';
  s += '<tbody id="groups_table_tbody_'+n+'">';
  s += '</tbody>';
  s += '</table>';
  s += '<button type="button" class="add_group_'+n+' btn">Add</button>';
  s += '</li>';
  var tmp = document.createElement('ol');
  tmp.innerHTML = s;
  var elements = tmp.childNodes;
  var i;
  for(i = 0; i < elements.length; i++){
    $('#sub_experiment_list')[0].appendChild(elements[i]);
  }
  $('.add_group_'+n).click(function() {
    add_group(n);
  })
  add_group(n);
  add_group(n);
}

function add_group(m) {
  var n = document.getElementsByClassName('group_'+m).length;
  var s = '';
  s += '<tr class="group_'+m+'" id="group_tr_'+m+'_'+n+'">';
  s += '<td>';
  s += '<input type="text" id="group_name_'+m+'_'+n+'" name="group_name_'+m+'_'+n+'" />'
  s += '</td>';
  s += '<td>';
  s += '<button type="button" class="deleteGroup btn btn-danger" onclick="javascript:delete_group('+m+','+n+')">Delete</button>';
  s += '</td>';
  s += '</tr>';
  var tmp = document.createElement('tbody');
  tmp.innerHTML = s;
  var elements = tmp.childNodes;
  var i;
  for(i = 0; i < elements.length ; i++){
    document.getElementById('groups_table_tbody_'+m).appendChild(elements[i]);
  }
}
function delete_group(m, i) {
  n = document.getElementsByClassName('group_'+m).length;
  if (n === 1) { alert('need at least one group') }
  else {
    for(; i < n - 1; i++) {
      document.getElementById('group_name_'+m+'_'+i).value = document.getElementById('group_name_'+m+'_'+(i+1)).value;
    }
    x = document.getElementById('group_tr_'+m+'_'+(n-1));
    x.parentNode.removeChild(x);
  }
}
$(document).ready(function() {
  add_sub_experiment();
  add_sub_experiment();
  $('.add-sub-experiment').click(function() {
    add_sub_experiment();
  })
})
</script>

