<!doctype html>
<head>
</head>
<body>
<form method="post">
  <ul>
  <li>
    <label for"name">Experiment Name:</label>
    <input type="text" name="name" />
  </li>
  <li>
    <label for="type">Experiment Type:
      <input type="radio" name="type" value="ABExperiment" />A/B Test
    </label>
    <label>
      <input type="radio" name="type" value="UCB1Experiment" />UCB Experiment
    </label>
  </li>
  <button type="submit" value="send">Submit!</button>
</form>
</body>
</html>