<h1>Edit Univariate Test for <%= experiment.name %></h1>

<%= erb :form %>

<div class="experiment-info">
  <h2>return values for experiment.inspect</h2>
  <p><%= experiment.inspect %></p>
  <p><%= experiment.groups.values %></p>
</div>