<!DOCTYPE html>
<head>
<title>Experimoto</title>
</head>
<body>
<h1>Index page / hello world page of Experimoto!</h1>
<a href="/experiment">List of Experiments</a>
<a href="./new/univariate">Create an experiment</a>
</body>
