<h1>Experiments</h1>
<a href="#" class="btn btn-primary">Create New Experiment</a>
<div id="new-experiment-options" class="hidden">
  <a href="./new/univariate">New Univariate Experiment</a><br />
  <a href="./new/multivariate">New Multivariate Experiment</a><br />
  <a href="#" class="btn btn-inverse cancel">cancel</a>
</div>
<ol>
  <% for experiment in experiments.find_all { |e| !e.is_view? } %>
  <li class="experiment">
    <a href="/experiment/<%= experiment.id %>"><%= experiment.name %></a>
  </li>
  <% end %>
</ol>
<h2>Experiment Views</h2>
<ol>
  <% for view in experiments.find_all { |e| e.is_view? } %>
  <li class="view">
    <%= view.name %> <br />
    View into <%= "#{view.target_experiment_name}#{view.json_lookup_index ? '['+view.json_lookup_index.to_s+']' : ''}" %>
  </li>
  <% end %>
</ol>
<script>
$('.btn-primary').click(function(){
  $('#new-experiment-options').removeClass('hidden');
})
$('.cancel').click(function(){
  $('#new-experiment-options').addClass('hidden');
})
</script>