<h1>Experiments</h1>
<button onclick="javascript:document.getElementById('new-experiment-options').style.display='block';" class="btn btn-primary">Create New Experiment</button>
<div id="new-experiment-options"style="display: none;">
  <a href="./new/univariate">New Univariate Experiment</a><br />
  <a href="./new/multivariate">New Multivariate Experiment</a><br />
  <a href="#" onclick="document.getElementById('new-experiment-options').style.display='none';" class="btn btn-inverse">cancel</a>
</div>
<ol>
  <% for experiment in experiments.find_all { |e| !e.is_view? } %>
  <li class="experiment">
    <a href="/experiment/<%= experiment.id %>"><%= experiment.name %></a>
  </li>
  <% end %>
</ol>
<h2>Experiment Views</h2>
<ol>
  <% for view in experiments.find_all { |e| e.is_view? } %>
  <li class="view">
    <%= view.name %> <br />
    View into <%= "#{view.target_experiment_name}#{view.json_lookup_index ? '['+view.json_lookup_index.to_s+']' : ''}" %>
  </li>
  <% end %>
</ol>
