<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<div class="nav">
  <ul>
    <li><a href="/">List Experiments</a></li>
    <li><a href="/new/univariate">Create New Experiment (Univariate)</a></li>
    <li><a href="/new/multivariate">Create New Experiment (Univariate)</a></li>
  </ul>
</div>
<div class="body">
  <%= yield %>
</div>
</body>
</html>
