
<h1> User Form </h1>
<h3> Put a user in a bucket! </h3>

<form method="post">
<%= csrf_tag %>
<input type="text" name="user_id" />
<input type="text" name="experiment_name" />
<input type="text" name="group_name" />
<input type="submit" value="Apply Group" />
</form>




