<h1>New user</h1>

<div style="background-color: #<%= experiment!(:sign_up_background_color, :default => 'ffffff') %>;">
<%= render 'form' %>

<% case experiment!(:sign_up_tag_line) %>
<% when 'charitable' %>
  <p>Did you know 25% of our revenue goes towards saving the rainforest?</p>
<% when 'cruel' %>
  <p>Seven puppies were harmed in the rendering of this page.</p>
<% when 'theological' %>
  <p>Every time you don't pay us, God kills a kitten.</p>
<% else %>
  <p>You should sign up!</p>
<% end %>

<%= link_to 'Back', users_path %>
</div>

<% if experiment!(:some_experiment) == 'version_a' %>
<div style= "width:200px; height: 200px; background-color: #0A0; border-radius: 100px;">
<p style="color: white; position: relative; top: 50px; left: 45px; font-size: 21px;" >Exciting text!</p>
<% end %>
